.transactionsBackground {
	background-color: #9a91911a;
	width: 39rem;
	height: auto;
	border-radius: 1rem;
	margin: 0.3rem;
	cursor: pointer;
}

.transactionsBackground:hover {
	background-color: #9a919132;
}

.safewalletTransaction {
	width: 3rem;
	border-radius: 0.5rem;
	margin-left: 1rem;
}

.transactionContainer {
	display: flex;
	align-items: center;
	gap: 3rem;
	padding: 1rem;
	width: 100%;
	box-sizing: border-box;


}


.columnW {
	width: 33.33%;
	box-sizing: border-box;
}

.noTransactions {
	text-align: center;
	padding: 2rem;
}

.transactionDetail {
	padding: 1rem;
}


.transactionDetailTitle,
.transactionDetailText {
	color: black;
	font-family: "Poppins", sans-serif;
}

.transactionSection{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btnPage{
	padding: 0.2rem;
	border-radius: 0.5rem;
	cursor: pointer;
	border: 2px solid var(--borderPrimaryBTN);
	background: none;
	margin: 0.2rem;

}

.btnPage:hover{
	background: var(--borderPrimaryBTN);
}