
.mainTargetContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.targetConteiner {
	background-color: rgba(0, 0, 0, 0.322);
	width: 70rem;
	height: auto;
	border-radius: 22rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem

}

.targetConteiner img {
	width: 30rem;
}

.containercard {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttonsContainer {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin: 1rem;

}