.navbar{
	color: white;
	padding: 3rem;
	display: flex;
	justify-content: space-between;
	font-weight: 900;
	font-size: 1rem;
}
.navbar2{
	color: white;
	padding: 3rem;
	display: flex;
	justify-content: space-around;
	font-weight: 900;
	font-size: 1rem;
}
.menuBurger{
	display: none;
}

.logoContainer{
	display: flex;
	gap: 1rem;
}


.navLinks{
	display: flex;
	gap: 2rem;
}
.navLinks a{
	color: white;
	text-decoration: none;
}
.navLinks a:hover{
	text-decoration: underline white;
}
.userPanelNav{
	display: flex;
	gap: 1rem;
	padding-right: 5rem;

}


/* START MOBILE CSS */
@media (max-width: 650px) {

	.menuBurger{
		display: flex;
		padding: 1.5rem;
		cursor: pointer;
		
	}
	.headDesktop{
		display: none;
	}

	.logoContainerMobile{
		display: flex;
		gap: 2rem;
		width: 100%;
		justify-content: space-around;
	}


}

@media (min-width: 715px) and (max-width: 1500px) {
	.navbar{
		justify-content: space-around;
		font-size: 0.8rem;
		padding: 2rem;
		gap: 1rem;
	}
	.userPanelNav{
		gap: 0.5rem;
		padding-right: 0rem;
	
	}
	.navLinks{
		gap: 1rem;
	}

}



.dropdownMenu {
  display: flex;
  flex-direction: column;
	align-items: center;
  position: absolute;
  top: 56px; 
  left: 0;
  background-color: #333; 
  padding: 10px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  z-index: 1; 
}

.dropdownMenu a {
  color: #fff; 
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

.dropdownMenu a:hover {
  background-color: #555; 
}
.dropdownMenu button{
	margin: 0.2rem;
}
